.header {
  max-width: 880px;
  margin: 0 0 40px 250px;
  padding: 45px 0 0 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 680px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
  }
}
